{% extends "base.html" %}

{% block title %}Upgrade MTK{% endblock %}

{% block content %}
<div class="wrapper"> 
  <div>
    <h2 class="site-titel">Upgrade MikroTik</h2>
    <form method="post" class="form-container">
      <label for="provider-mtk">Provider:</label>
      <input type="text" id="provider-mtk" name="Provider" value="1" readonly>

      <div class="router-fields">
        <div class="input-group">
          <label for="first-router-mtk">First Router:</label>
          <input type="text" id="first-router-mtk" name="FirstRouter" value="">
        </div>

        <div class="input-group">
          <label for="last-router-mtk">Last Router:</label>
          <input type="text" id="last-router-mtk" name="LastRouter" value="">
        </div>
      </div>

      <button type="submit" name="mtk_upgrade">Upgrade MikroTik</button>
    </form>
  </div>
</div>
{% endblock %}

